In [ ]:
import pandas as pd
import numpy as np

In [68]:
df=pd.DataFrame(data=np.random.normal(0,1,(20,10)))
pca=PCA(n_components=1)
pca.fit(df)
df.head(5)

,0,1,2,3,4,5,6,7,8,9
0,-1.347041,0.736383,0.792069,0.645198,0.425624,-0.809485,0.130500,-0.596803,-0.181227,0.247208
1,0.209874,0.103423,-1.782694,0.395116,-0.230549,-0.947562,-0.152594,0.294633,0.480878,-1.625868
2,0.920726,0.370313,-1.030429,0.250462,-0.630214,1.191094,-0.478618,1.092699,2.239309,0.391261
3,0.045089,-1.207107,-2.314450,0.850476,0.414173,0.358862,0.037758,0.104501,0.003854,0.628819
4,0.244633,-0.895323,0.497189,-0.320762,0.661232,3.070878,0.339180,-0.587946,0.977128,0.105103

In [69]:
pca.components_

array([[-0.30187821,  0.43528988, -0.34666145,  0.05523211, -0.44496577,
        -0.58834798, -0.08000244, -0.08726195, -0.1924313 , -0.03122153]])

### Import zip-county matching set

In [4]:
zip_county= pd.read_excel(r'Input\\ZIP_COUNTY_122020.xlsx')[['ZIP','COUNTY']]
zip_county.columns= zip_county.columns.str.strip().str.lower()
zip_county.head(2)

   zip  county
0  501   36103
1  601   72001

### Geo package

In [19]:
nomi=geo.Nominatim("us")

In [20]:
nomi.query_postal_code("92660")

postal_code               92660
country_code                 US
place_name        Newport Beach
state_name           California
state_code                   CA
county_name              Orange
county_code                59.0
community_name              NaN
community_code              NaN
latitude                33.6295
longitude             -117.8684
accuracy                    4.0
Name: 0, dtype: object